USE [master]
GO
/****** Object:  Database [CrudAspAngularjsDb]    Script Date: 5/22/2018 9:08:50 PM ******/
CREATE DATABASE [CrudAspAngularjsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudAspAngularjsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.NAYEEMAZAD\MSSQL\DATA\CrudAspAngularjsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrudAspAngularjsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.NAYEEMAZAD\MSSQL\DATA\CrudAspAngularjsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudAspAngularjsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrudAspAngularjsDb]
GO
USE [CrudAspAngularjsDb]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/22/2018 9:09:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
 CONSTRAINT [Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
